.tttbutton {
	-fx-background-radius: 0em;
	-fx-base: #FFFFFF;
}

.tttbutton:disabled {
	-fx-opacity: 1.0;
}

.tttbutton-win {
	-fx-base: #DDFFDB;
}

.tttbutton-lose {
	-fx-base: #FFDBDD;
}

#gridpane-main {
	-fx-background-color: #000000
}