.game-button {
	-fx-background-radius: 0em;
	-fx-base: #FFFFFF;
}

.game-button:disabled {
	-fx-opacity: 1.0;
}

.game-button-win {
	-fx-base: #DDFFDB;
}

.game-button-lose {
	-fx-base: #FFDBDD;
}

#gridpane-main {
	-fx-background-color: #000000
}